<div class="product-wrapper">
  <a class="img-link" [routerLink]="['/product', product.id]">
    <app-img
      *ngIf="product.images.length > 0"
      [img]="product.images[0]"
    ></app-img>
  </a>
  <div class="product-info-wrapper">
    <div class="product-info">
      <h2>${{ product.price }}</h2>
      <p>{{ product.title }}</p>
    </div>
    <!-- <p>Iva {{ product?.taxes | currency: "USD" }}</p> -->
    <!-- <button (click)="onShowDetail()">Ver detalles</button> -->
    <div class="cart-fn">
      <a routerLink="." [queryParams]="{ product: product.id }">Details</a>
      <figure class="add-to-cart-img" (click)="onAddToCart()">
        <img src="../../../../assets/logos/bt_add_to_cart.svg" alt="" />
      </figure>
    </div>
  </div>
</div>
